openapi: 3.1.0
info:
  title: RocketReach Company Search API
  version: 1.0.0
  description: Search RocketReach's 35M+ company database using filters such as industry, headcount, location, and revenue.
  contact:
    name: RocketReach Support
    email: api@rocketreach.co
  license:
    name: Proprietary
  termsOfService: https://rocketreach.co/legal/terms-of-use
servers:
- url: https://api.rocketreach.co/api/v2
  description: RocketReach v2 API
- url: https://api.rocketreach.co/v1/api
  description: RocketReach v1 API
security:
- RocketReachAPIKey: []
paths:
  /searchCompany:
    post:
      operationId: create_company_search
      description: Search Companies by Criteria
      summary: Company Search API
      tags:
      - Company Data API
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIPublicCompiledCompanySearchInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/APIPublicCompiledCompanySearchInput'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/APIPublicCompiledCompanySearchInput'
        required: true
      security:
      - RocketReachAPIKey: []
      responses:
        '201':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompiledCompanyPublicDetails'
          description: Success. Companies search request accepted
        '400':
          description: Bad Request. The request is malformed or missing required parameters.
        '401':
          description: Unauthorized. API Key is missing or invalid.
        '403':
          description: Forbidden. API Key lacks permission to perform this action.
        '404':
          description: Not Found. The requested resource (e.g., profile) does not exist.
        '429':
          description: Too Many Requests. API request limit reached -- slow down requests.
        '500':
          description: Internal Server Error. Unexpected error on RocketReach servers. Try again later.
  /universal/company/search:
    post:
      operationId: create_universal_company_search
      description: Search Companies by Criteria
      summary: ⭐ Universal Company Search API
      tags:
      - Company Data API
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIUniversalCreditsPublicCompiledCompanySearchInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/APIUniversalCreditsPublicCompiledCompanySearchInput'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/APIUniversalCreditsPublicCompiledCompanySearchInput'
        required: true
      security:
      - RocketReachAPIKey: []
      responses:
        '201':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UniversalCreditCompanySearchOutput'
          description: Success. Companies search request accepted
        '400':
          description: Bad Request. The request is malformed or missing required parameters.
        '401':
          description: Unauthorized. API Key is missing or invalid.
        '403':
          description: Forbidden. API Key lacks permission to perform this action.
        '404':
          description: Not Found. The requested resource (e.g., profile) does not exist.
        '429':
          description: Too Many Requests. API request limit reached -- slow down requests.
        '500':
          description: Internal Server Error. Unexpected error on RocketReach servers. Try again later.
components:
  securitySchemes:
    RocketReachAPIKey:
      type: apiKey
      name: Api-Key
      in: header
      description: RocketReach account API key. You can locate your API Key from the "My API Key" section of the [API account
        page](https://rocketreach.co/account?section=nav_gen_api). Requests to the API are authenticated using the Api-Key
        request header. Older clients may use an `api_key` query parameter, but this behavior is deprecated.
  schemas:
    APIPublicCompiledCompanySearchInput:
      type: object
      properties:
        start:
          type: integer
          maximum: 10000
          minimum: 1
          default: 1
          description: Start index of the request results (counting from 1)
        page_size:
          type: integer
          maximum: 100
          minimum: 1
          default: 10
          description: Maximum number of results to return per page [1-100]
        query:
          $ref: '#/components/schemas/CompanyQuery'
          description: Search query object for the request
        order_by:
          allOf:
          - $ref: '#/components/schemas/OrderByEnum'
          description: Specifies the ordering of search results. "popularity" matches the default ordering of the Search web
            app.
          default: relevance
          example: popularity
    CompanyQuery:
      type: object
      properties:
        company_tag:
          type: array
          items:
            type: string
        competitors:
          type: array
          items:
            type: string
          description: Include companies with these compeitiors
        description:
          type: array
          items:
            type: string
          description: Include companies with these descriptions
        domain:
          type: array
          items:
            type: string
          description: Include companies with these domains
        email_domain:
          type: array
          items:
            type: string
          description: Include companies with these email domains
        employees:
          type: array
          items:
            type: string
          description: Include companies with this number of employees
        extended_keyword:
          type: array
          items:
            type: string
        geo:
          type: array
          items:
            type: string
          description: Include companies located in these geographies
        growth:
          type: array
          items:
            type: string
          description: 'Include growth numbers for specific departments and time ranges.

            <b>Format:</b> `min_percentage_growth-max_percentage_growth::Department,TimeRange`

            * min_percentage_growth: Minimum growth percentage to filter companies

            * max_percentage_growth: Maximum growth percentage to filter companies

            * Department: Name of the company department (e.g., Engineering, Sales)

            * TimeRange: Duration for the growth metric (e.g., six_months, one_year)

            - Example: `[''5-30::Engineering,six_months'']`

            - Example: `[''-10--20::Sales,one_year'']`'
          example:
          - 5-30::Engineering,six_months
        id:
          type: array
          items:
            type: string
          description: Include companies with these RocketReach company IDs
        industry:
          type: array
          items:
            type: string
          description: Include companies focused in these industries
        industry_keywords:
          type: array
          items:
            type: string
          description: Include companies focused in industries with these keywords
        industry_tags:
          type: array
          items:
            type: string
          description: Include companies focused in industries with these tags
        intent:
          type: array
          items:
            type: string
          description: Search across 37,000 intent topics found [here](https://docs.google.com/spreadsheets/d/1nnk8ZOLr9GUzrPNy1pG_N_gVIhDpkc5XjE3Hh4J8M00/edit?gid=761283207#gid=761283207).
            Intent is only available on certain plans. Please reach out to our team to learn more.
        is_primary:
          type: array
          items:
            type: string
        job_posting_signal:
          type: array
          items:
            type: string
          description: 'Hiring signals that identify companies that are actively building out specific departments. Full list
            of categories [here](https://docs.google.com/spreadsheets/d/1EZPVnOftbHNwDm0aXjiJ79dSpqcZ4JLnrNJPZxKXi5Q/edit?gid=2100271042#gid=2100271042).

            - Example: `[''Accounting Roles::one_month'']`'
          example:
          - Accounting Roles::one_month
        keyword:
          type: array
          items:
            type: string
        link:
          type: array
          items:
            type: string
          description: Include companies listed with these links
        location:
          type: array
          items:
            type: string
          description: Include companies located in these locations
        naics_code:
          type: array
          items:
            type: string
          description: Include companies with these NAICS codes
        name:
          type: array
          items:
            type: string
          description: Include companies with these names
        news_signal:
          type: array
          items:
            type: string
          description: 'Search on news events within the 25 categories listed [here](https://docs.google.com/spreadsheets/d/1EZPVnOftbHNwDm0aXjiJ79dSpqcZ4JLnrNJPZxKXi5Q/edit?gid=577464958#gid=577464958").

            - Example: `[''Funding::one_month'']`'
          example:
          - Funding::one_month
        news_timestamp:
          type: array
          items:
            type: string
          deprecated: true
          description: news_timestamp deprecated, please use `news_signal`
        phone:
          type: array
          items:
            type: string
          description: Include companies with these phone numbers
        primary_industry:
          type: array
          items:
            type: string
          description: Include companies focues in these primary industries
        publicly_traded:
          type: array
          items:
            type: string
          description: Include companies that are publically traded
        revenue:
          type: array
          items:
            type: string
          description: Include companies with these revenue values
        sic_code:
          type: array
          items:
            type: string
          description: Include companies with these SIC codes
        simplified_keyword:
          type: array
          items:
            type: string
        techstack:
          type: array
          items:
            type: string
          description: Include companies working in these techstacks
        total_funding:
          type: array
          items:
            type: string
          description: Include companies who have raised this amount of capital
        website_category:
          type: array
          items:
            type: string
          description: Include companies with websites in these categories
        website_url:
          type: array
          items:
            type: string
          description: Include companies with these website URLs
    CompiledCompanyPublicDetails:
      type: object
      description: Serializer for company details (API).
      properties:
        id:
          type: integer
          description: RocketReach internal unique company ID
          example: 123456
        name:
          type: string
          description: Name of the company
        email_domain:
          type: string
          description: Email domain for the company
        ticker_symbol:
          type: string
          description: Ticker symbol for the company (if available)
        industry_str:
          type: string
          description: Industry of the company
        city:
          type: string
          description: City of the company
        region:
          type: string
          description: Region of the company
        country_code:
          type: string
          description: Country code of the company
    OrderByEnum:
      enum:
      - relevance
      - popularity
      - score
      type: string
    APIUniversalCreditsPublicCompiledCompanySearchInput:
      type: object
      properties:
        start:
          type: integer
          maximum: 10000
          minimum: 1
          default: 1
          description: Paginate through search results by returning results starting from this value (counting from 1).
        page_size:
          type: integer
          maximum: 100
          minimum: 1
          default: 100
          description: Maximum number of search results to return per page.
        query:
          $ref: '#/components/schemas/CompanyQuery'
        order_by:
          allOf:
          - $ref: '#/components/schemas/OrderByEnum'
          default: relevance
    UniversalCreditCompanySearchOutput:
      type: object
      description: Universal Credit Serializer for company details (API).
      properties:
        id:
          type: integer
          description: RocketReach internal unique company ID
        name:
          type: string
          description: Name of the company
        ticker_symbol:
          type: string
          description: Ticker symbol of the company (if available)
        industry_str:
          type: string
          description: Industry of the company
        city:
          type: string
          description: City where the company is located
        region:
          type: string
          description: Region where the company is located
        country_code:
          type: string
          description: Country where the company is located
        linkedin_url:
          type: string
          description: LinkedIn URL of the company
        logo_url:
          type: string
          description: Logo URL of the company
tags: []
