openapi: 3.1.0
info:
  title: RocketReach Company Lookup API
  version: 1.0.0
  description: Look up a single company's enriched firmographic profile from domain, name, or LinkedIn URL.
  contact:
    name: RocketReach Support
    email: api@rocketreach.co
  license:
    name: Proprietary
  termsOfService: https://rocketreach.co/legal/terms-of-use
servers:
- url: https://api.rocketreach.co/api/v2
  description: RocketReach v2 API
- url: https://api.rocketreach.co/v1/api
  description: RocketReach v1 API
security:
- RocketReachAPIKey: []
paths:
  /company/lookup/:
    get:
      operationId: create_company_lookup
      description: Search Companies by Criteria
      summary: Company Lookup API
      parameters:
      - in: query
        name: domain
        schema:
          type: string
          minLength: 1
        description: Domain of the desired company to lookup (preferred).
      - in: query
        name: id
        schema:
          type: integer
        description: RocketReach internal unique company ID
      - in: query
        name: linkedin_url
        schema:
          type: string
          pattern: ''
          minLength: 1
        description: LinkedIn URL of the desired company to lookup.
      - in: query
        name: name
        schema:
          type: string
          minLength: 1
        description: Name of the desired company to lookup.
      - in: query
        name: ticker
        schema:
          type: string
          minLength: 1
        description: Stock ticker of the desired company to lookup.
      tags:
      - Company Data API
      security:
      - RocketReachAPIKey: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompiledCompanyAPISerializerWithExtendedCompanyAttributes'
          description: Success. Returns the profile data for the company lookup.
        '400':
          description: Bad Request. The request is malformed or missing required parameters.
        '401':
          description: Unauthorized. API Key is missing or invalid.
        '403':
          description: Forbidden. API Key lacks permission to perform this action.
        '404':
          description: Not Found. The requested resource (e.g., profile) does not exist.
        '429':
          description: Too Many Requests. API request limit reached -- slow down requests.
        '500':
          description: Internal Server Error. Unexpected error on RocketReach servers. Try again later.
  /universal/company/lookup:
    get:
      operationId: create_universal_company_lookup
      description: Search Companies by Criteria
      summary: ⭐ Universal Company Lookup API
      parameters:
      - in: query
        name: domain
        schema:
          type: string
          minLength: 1
        description: Domain of the desired company to lookup (preferred).
      - in: query
        name: id
        schema:
          type: integer
        description: RocketReach internal unique company ID
      - in: query
        name: linkedin_url
        schema:
          type: string
          pattern: ''
          minLength: 1
        description: LinkedIn URL of the desired company to lookup.
      - in: query
        name: name
        schema:
          type: string
          minLength: 1
        description: Name of the desired company to lookup.
      - in: query
        name: ticker
        schema:
          type: string
          minLength: 1
        description: Stock ticker of the desired company to lookup.
      tags:
      - Company Data API
      security:
      - RocketReachAPIKey: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompiledCompanyAPISerializerWithExtendedCompanyAttributes'
          description: Success. Returns the profile data for the company lookup.
        '400':
          description: Bad Request. The request is malformed or missing required parameters.
        '401':
          description: Unauthorized. API Key is missing or invalid.
        '403':
          description: Forbidden. API Key lacks permission to perform this action.
        '404':
          description: Not Found. The requested resource (e.g., profile) does not exist.
        '429':
          description: Too Many Requests. API request limit reached -- slow down requests.
        '500':
          description: Internal Server Error. Unexpected error on RocketReach servers. Try again later.
components:
  securitySchemes:
    RocketReachAPIKey:
      type: apiKey
      name: Api-Key
      in: header
      description: RocketReach account API key. You can locate your API Key from the "My API Key" section of the [API account
        page](https://rocketreach.co/account?section=nav_gen_api). Requests to the API are authenticated using the Api-Key
        request header. Older clients may use an `api_key` query parameter, but this behavior is deprecated.
  schemas:
    CompanyQuarterlyGrowth:
      type: object
      properties:
        year:
          type: integer
        quarter:
          type: integer
        values:
          type: array
          items:
            type: integer
          minLength: 3
          maxLength: 3
          readOnly: true
    CompiledCompanyAPISerializerWithExtendedCompanyAttributes:
      type: object
      description: Serializes purchased company fields when looked up.
      properties:
        id:
          type: integer
          description: RocketReach internal unique company ID
          example: 123456
        name:
          type: string
          description: Name of the company
        domain:
          type: string
          description: Web domain for the company
        email_domain:
          type: string
          description: Email domain for the company
        website_domain:
          type:
          - string
          - 'null'
          readOnly: true
          description: Website for the company
        ticker_symbol:
          type:
          - string
          - 'null'
          description: Ticker symbol for the company (if available)
        links:
          type:
          - object
          - 'null'
          properties:
            facebook:
              type: string
            twitter:
              type: string
            linkedin:
              type: string
          readOnly: true
          description: Social media links for the company
        year_founded:
          type:
          - integer
          - 'null'
          readOnly: true
          description: Year the company was founded
        address:
          $ref: '#/components/schemas/CompiledCompanyAddress'
          description: Street address of the company
        phone:
          type:
          - string
          - 'null'
          description: Phone number for the company
        fax:
          type:
          - string
          - 'null'
          description: Fax number for the company
        num_employees:
          type:
          - integer
          - 'null'
          description: Number of employees working at the company
        revenue:
          type:
          - integer
          - 'null'
          description: Revenue of the company
        funding_investors:
          type: array
          items:
            type: string
          description: List of names of founding investors for the company
        industry:
          type:
          - string
          - 'null'
          readOnly: true
          description: Industry of the company
        sic_codes:
          type: array
          items:
            type: integer
          description: List of SIC codes for the company. Standard Industrial Classification (SIC) codes, are four-digit numerical
            codes used to categorize businesses by their primary industry
        rr_profile_url:
          type: string
          readOnly: true
          description: URL of the RocketReach company profile page for the company
        description:
          type:
          - string
          - 'null'
          description: Description of the company
        industry_keywords:
          type: array
          items:
            type: string
          readOnly: true
          description: List of industry keywords for the company
        naics_codes:
          type: array
          items:
            type: integer
          description: List of NAICS codes for the company. North American Industry Classification System (NAICS) codes are
            used to classify businesses by their primary industry
        techstack:
          type: array
          items:
            type: string
          description: List of technologies used by the company
        industries:
          type: array
          items:
            type: string
          description: List of industries the company operates in
        competitors:
          type:
          - array
          - 'null'
          items:
            type: string
          readOnly: true
          description: List of competitors for the company
        departments:
          type: object
          additionalProperties:
            type: integer
          readOnly: true
          description: List of departments within the company
        company_growth:
          type: array
          items:
            $ref: '#/components/schemas/CompanyQuarterlyGrowth'
          readOnly: true
          description: Growth rate of the company
    CompiledCompanyAddress:
      type: object
      properties:
        description:
          type: string
          readOnly: true
          description: Description of the company location
        street:
          type: string
          readOnly: true
          description: Street of the company address
        city:
          type: string
          readOnly: true
          description: City of the company address
        region:
          type: string
          readOnly: true
          description: Region of the company address
        region_code:
          type: string
          readOnly: true
          description: Region code of the company address
        postal_code:
          type: string
          readOnly: true
          description: Postal code of the company address
        country:
          type: string
          readOnly: true
          description: Country of the company address
        country_code:
          type: string
          readOnly: true
          description: Country code of the company address
tags: []
